@page
@model Treatment.Pages.Hospitals.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.StateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.StateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.GroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.GroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.HospitalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.HospitalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Suite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Suite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.WebSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.WebSite)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Status)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.UpdatedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Hospital.HospitalId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
