@page
@model Treatment.Pages.Hospitals.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.StateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.StateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.GroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.GroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.HospitalName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.HospitalName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Suite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Suite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.WebSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.WebSite)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Status)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hospital.HospitalId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
